$text-font: 'PT Sans', sans-serif;
$head-font: 'Conv_Proxima Nova Bold', sans-serif;
$section-font: 'Conv_Proxima Nova Semibold', sans-serif;
$font-main-color: #fff;
$font-color: #665f60;
$font-size: 18px;
$font-size-h: 36px;
$color-bg: #ebebeb;
$btn-hover-bg: rgba(243, 243, 243, 0.5);
$hover-text: #212237;
$border: #fff;
$border-hover: #8887af;
$active-text: #A09E9A;


/** Grid variables **/
$container-width: 1170px;
$col-padding: 15px;